$brand-100: #1f3f5b;
$brand-200: #ff8f70;
$brand-300: #ff3d54;
$brand-400: #ff525d;
$brand-500: #ff7a85;
$brand-600: #2c2d3f;
$brand-700: #3f4164;
$dark-100: #25252d;
$dark-200: #4b5862;
$dark-300: #d1d1de;
$white: #ffffff;
